* {
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: #d6dae1;
}

p {
    text-align: center;
}
body{
    background-color: #2c2c32;
}

h1 {
    color: darkorange;
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
    padding: 2%;
}

a:link{
    text-decoration: none;
    color: darkorange;
}

a:hover {
    text-decoration: underline;
}